<!DOCTYPE html>
<html ng-app="app">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.min.css' />
</head>
<body>
  <ng-view></ng-view>

  <!-- Libraries -->
  <script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-resource.min.js"></script>
  <script src="js/lib/moment.min.js"></script>
  <script src="js/lib/moment.fr.js"></script>
  <script src="js/lib/angular-moment.min.js"></script>
  <script src="js/admin.min.js"></script>
</body>
</html>
