<div id='mainLeftDiv'>
	<div id='videoDescription'>
		<h1>{{ live.name }}</h1>
	</div>
	<iframe id='video' type='text/html' ng-src='{{ "https://www.youtube.com/embed/" + live.youtube + "?showinfo=0&autoplay=1" }}' allowfullscreen frameborder='0'></iframe>
</div>

<div id='mainRightDiv'>
	<div id='chat'>
		<div id='chatLog'>
            <li ng-repeat="message in messages">
		        <p>{{ message.content }}</p>
	        </li>
        </div>
		User: <input id='chatMessageTextArea' placeholder="Nom d'utilisateur" type="text" ng-model="newMessage.user"><br>
        Message: <input id='chatMessageTextArea' placeholder='Envoyer un message.' type="text" ng-model="newMessage.content"><br>
        <button ng-click="save()">Create</button>
	</div>
</div>
