<!DOCTYPE html>
<html ng-app="app">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <ng-view></ng-view>

  <!-- Libraries -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-resource.min.js"></script>

  <script>
    app.config(['$routeProvider', function ($routeProvider) {
      $routeProvider
      .when('/', {
        templateUrl: './templates/lives.html',
        controller: 'LiveController'
      })

      .when('/:id', {
        templateUrl: './templates/liveDetails.html',
        controller: 'LiveDetailCtrl'
      });
    }]);
  </script>
</body>
</html>
