<!DOCTYPE html>
<html ng-app="app">
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/live.css' />
</head>
<body>
	<ng-view></ng-view>

	<!-- Libraries -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/live/live.js"></script>
	<script src="js/live/router.js"></script>
	<script src="js/flipclock.min.js"></script>
	<script src="scripts/live.js"></script>
</body>
</html>


