<!DOCTYPE html>
<html ng-app="app">
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/live.min.css' />
</head>
<body>
	<ng-view></ng-view>

	<!-- Libraries -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-resource.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/lib/socket.min.js"></script>
	<script src="js/live.min.js"></script>
</body>
</html>


