<div id='mainLeftDiv'>
	<div id='videoDescription'>
		<h1>{{ live.name }}</h1>
	</div>
	<iframe id='video' type='text/html' ng-src='{{ "https://www.youtube.com/embed/" + live.youtube + "?showinfo=0&autoplay=1" }}'
					allowfullscreen frameborder='0'></iframe>
</div>
<div id='mainRightDiv'>
	<div class='chatContainer'>
		<div class="chatHeader">
			<img src="/img/group.svg">
			<p>{{ nbUsers || '1' }} participants</p>
		</div>
		<ol class="chat">
			<li ng-repeat="message in messages | reverse">
				<div class="msg">
					<time>{{ message.user }}</time>
					<p>{{ message.content }}</p>
					<time>{{ message.hour + ":" + message.minutes }}</time>
				</div>
			</li>
		</ol>
		<div class="textDiv">
			<input class='chatText' placeholder='Send a message.' type="text" ng-model="newMessage.content"><br>
			<button class='chatButton' ng-click="sendMessage()">Send</button>
		</div>
	</div>
</div>
<div class="overlay" ng-show='!userOk'>
	<div class="center">
		<div class="title">WebinarJS</div>
		<div class="desc">
			Renseignez un nom d'utilisateur pour accéder au live
		</div>
		<div class="form-wrap">
			<input type="text" ng-model="newMessage.user" placeholder="Entrez votre nom d'utilisateur ici"><br />
			<button class="button-yes" ng-click="claimUsername()">Entrer !</button>
			</form>
		</div>
	</div>
</div>